:root{
    --headerFont: "Rubik Distressed", system-ui;
    --paragraphFont : "Barlow Semi Condensed", sans-serif;
    --font-color1: #38d6ff1a;
    --font-color2: #98c5e9;
    --font-color3: #001838;
    --font-color4: #38d6ff;
}

body{
   margin: 0;
}

html{
    scroll-behavior: smooth;
}

nav{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--font-color2);
    border-bottom: 1px solid var(--font-color3);
}

.nav-link{
    display:none;
}

.nav-link.desktop{
    display: flex;
}

nav section ul{
    display:flex;
    text-decoration: none;
    list-style: none;
    font-size:20px ;
    font-weight:bold;
    padding : 3px 10px;
    margin :0;
    font-family: var(--paragraphFont);
}

nav section ul li{
    display:flex;
    text-decoration: none;
    list-style: none;
    font-size:20px ;
    font-weight:bold;
    padding : 3px 10px;
    margin :0;
    font-family: var(--paragraphFont);
    color:var(--font-color3);
    text-decoration:none ;
} 

nav section ul li:hover{
 background-color: whitesmoke;
} 

.login-link{
    text-decoration: none;
}

.logo{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

nav section button{
    width:100px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--font-color2);
    border: 1px solid whitesmoke;
    border-radius: 20px;
    text-decoration: none;
}

nav section button p{
   margin-left:5px;
   font-family: var(--paragraphFont);
   color:var(--font-color3);
   font-weight: bold;
   font-size: 20px;
   text-decoration: none;

}

.menuButton{
    display: none;
    border: 0px;
    font-size: 30px;
    color:var(--font-color3);
}

    nav section button:hover{
    background-color: var(--font-color4);
    }
    .hero {
        position: relative;
        width: 100%;
        height: 500px; /* fixed hero height */
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
         overflow: hidden; 
      }
      
      .heroImage {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover; /* fill and crop if necessary */
        z-index: 1;
      }
      
      .backgroundOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 1, 2, 0.6); /* dark blue overlay */
        z-index: 2;
    }

      
    .bigHeading{
        position:absolute;
        display:block;
        z-index: 3;
        text-align: center;
        top:20%;
        font-family: var(--headerFont);
        color:whitesmoke;
        font-size:1.5rem;
    }

    .heroButton{
        position:absolute;
        display: grid;
        z-index: 3;
        top:60%;
        grid-template-columns: 1fr 1fr;
        gap:20px;
        
    }

    .button1{
        height:50px;
        width:150px;
        font-family: var(--paragraphFont);
        font-size: 1.5rem;
        font-weight: bold;
        color:var(--font-color4);
        background-color: var(--font-color3);
    }

    .button2{
        height:50px;
        width:150px;
        font-family: var(--paragraphFont);
        font-size: 1.5rem;
        font-weight: bold;
        color:var(--font-color3);
        background-color: whitesmoke;
    }

    .heroButton button:hover{
        cursor: pointer;
    }

    .cardContainer{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap : 20px;
        justify-content: center;
        align-items: center;
        margin:20px;
       
    }

    .card {
        display: grid;
        grid-template-columns: 1fr;
        background-color: whitesmoke;
        color: var(--f);
        border-radius: 10px;
        width: 100%;
        height: 280px;
        border: 1px solid var(--font-color3);
        
        /* Stronger shadow */
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2), /* dark base shadow */
                    0 4px 12px rgba(52, 93, 104, 0.3); /* cyan glow effect */
    }

    .card aside{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: var(--paragraphFont);
        color:var(--font-color3);
        font-size :20px;
    }

    .card aside img{
        margin-bottom: 5px;

    }

    .containerFeature h1{
        font-family: var(--headerFont);
        color: var(--font-color3);
        text-align: center;
    }

    .main{
        text-align: center;
        font-size: 30px;
        border-bottom: 2px solid var(--font-color2);
    }

    .main .header{
        color: var(--font-color3);
        font-family: var(--headerFont);
    }

    .about{
        background-color: var(--font-color3);
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top-left-radius: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap:20px;
        font-family: var(--paragraphFont);
        font-size: 20px;
    } 

    .section1{
        margin:30px;
        border-top-left-radius: 100px;
        border: 1px solid var(--font-color1);
        color:var(--font-color4);
    }

    .footermain{
        display: grid;
        justify-content:center;
        align-items: center;
        text-align: center;
        background-color: var(--font-color3);
    }

    .footerContainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
        color:var(--font-color4);
        font-family: var(--paragraphFont);
        margin-bottom: 20px;
    }

    .footerContainer h3{
        color:var(--font-color4);
        font-family: var(--headerFont);
    }

    .socials{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .date{
        text-align: center;
        color:var(--font-color4);
        font-size: 20px;
        font-family: var(--paragraphFont);
        background: var(--font-color3);
        margin-bottom: 20px;
    }

    .date p{
        margin:0;
    }

    .footerContainer ul{
        list-style-type: none;
        text-align: center;
        margin-right: 40px;
        font-size: 18px;
     }



      
      
      
      
  




@media (max-width:800px){
    .menuButton{
        display: block;
        border: 0px;
        font-size: 30px;
        color:var(--font-color3);

    }

    nav{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        background-color: var(--font-color2);
        border-bottom: 1px solid var(--font-color3);
    }

    nav section ul{
        display:block;
        text-decoration: none;
        list-style: none;
        font-size:20px ;
        font-weight:bold;
        padding : 5px 15px;
        margin :0;
        font-family: var(--paragraphFont);
    }
    nav section ul li{
        display:flex;
        text-decoration: none;
        list-style: none;
        font-size:20px ;
        font-weight:bold;
        padding : 8px 10px;
        margin :5px 0;
        font-family: var(--paragraphFont);
        color:var(--font-color3);
        border-bottom: 1px solid var(--font-color3);
    } 

    .logo{
        display:grid;
        grid-template-columns: 3fr 1fr;
        justify-content:space-between;
        align-items: center;
    }

    .loginButton{
        padding: 0 15px;
        margin: 5px 0;
    }
    
    nav button.login:hover {
        background-color: var(--font-color4);
    }

    nav button.menuButton:hover {
        background-color: var(--font-color2);
    }

    .nav-link.show{
        display: block;
    }

    .nav-link.hide{
        display: none;
    }

    .nav-link.desktop{
        display: none;
    }

    .loginButton.show{
        display: block;
    }

    .loginButton.hide{
        display: none;
    }

    .cardContainer{
        display:grid;
        grid-template-columns: 1fr;
        gap : 20px;
        justify-content: center;
        align-items: center;
        margin:20px;
    }

    .heroButton{
       margin-top:30px;
        
    }

    .about{
        grid-template-columns: 1fr;
        gap:5px;
    } 

    .footerContainer{
        display:grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5px;
        color:var(--font-color4);
        font-family: var(--paragraphFont);
    }

    .footerContainer ul{
       list-style-type: none;
       text-align: center;
       margin-right: 40px;
       font-size: 18px;
    }





    

}